let mapleader=" "

""" Plugins --------------------------------
set easymotion
set NERDTree
set surround
set multiple-cursors
set commentary
set highlightedyank
set quickscope

""" quickscope 
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" clipboard settings -----------------------
" use system clipboard
" nnoremap yy "+yy
" vnoremap y "+y
"
" nnoremap dd "+dd
" vnoremap d "+d
"
" nnoremap p "+p
" vnoremap p "+p
" nnoremap P "+P
" vnoremap P "+P

" another wy to use system clipboard
set clipboard=unnamedplus

" use P instead of p for pasting to keep the yank register
" map p P

""" Mappings --------------------------------

" Map Shift-Alt-Up to move the current line or selected lines up
nnoremap <S-A-Up> :action MoveLineUp<CR>
vnoremap <S-A-Up> :action MoveLineUp<CR>
nnoremap <S-A-k> :action MoveLineUp<CR>
vnoremap <S-A-k> :action MoveLineUp<CR>

" Map Shift-Alt-Down to move the current line or selected lines down
nnoremap <S-A-Down> :action MoveLineDown<CR>
vnoremap <S-A-Down> :action MoveLineDown<CR>
nnoremap <S-A-j> :action MoveLineDown<CR>
vnoremap <S-A-j> :action MoveLineDown<CR>


" Plugins
map <leader>s <Plug>(easymotion-s)
map <leader>e :NERDTreeToggle<CR>


"" Actions
map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
""" map <leader>s <Action>(SelectInProjectView)


